$heading-font: "Lato";
$body-font: "Open Sans";

$background-color: #f7f9fb;
$purple: #6202ee;
$light-grey: #696969;
$dark-blue: #036;
$red: #c42d3c;
$dark-red: #9b232f;
$translucent-grey: rgba(255, 255, 255, 0.5);
$blue: #6c93be;
$body-grey: #5a5e63;
$caption: #7a7f86;
$bold-black: #29292c;
$heading-black: #151517;

%body {
  color: $body-grey;
  font-family: $body-font;
  font-size: 16px;
  font-weight: 200;
}

%subheading {
  font-family: $heading-font;
  font-size: 16px;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
}

%heading {
  color: $heading-black;
  font-family: $heading-font;
  font-size: 48px;
  font-weight: 300;
}

%title {
  color: $heading-black;
  font-family: $heading-font;
  font-size: 24px;
  font-weight: 300;
}

%heroText {
  font-family: $heading-font;
  font-size: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
