@import '_fonts.scss';

.description{
    margin-bottom: 5em;
    @extend %body;
}
h1{
    display: block;
    padding: 0em;
    @extend %heading;
    margin-top: 3em;
}

.blogCard{
    margin: 3em 0em;
}

.blog{
    max-width: 768px;
    margin: auto;
}
@media screen and (max-width: 768px) {
    .blog{
        margin: 3em;
    }
}
