@import "_fonts.scss";

.description {
  margin-bottom: 5em;
  @extend %body;
}

.blogCard {
  margin: 3em 0;
}

.blog {
  margin: auto;
  max-width: 768px;

  h1 {
    display: block;
    margin-top: 3em;
    @extend %heading;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .blog {
    margin: 3em;
  }
}
