.content, .blogPost{
    max-width: 700px;
    margin: auto;
}
.content{
    margin-bottom: 5em;
    font-family: 'Open Sans';
}

.title{
    display: block;
    padding: 0em;
    font-family: "Lato",arial,sans-serif;
    font-size: 48px;
    font-weight: 300;
}
.date{
    display: block;
    font-family: 'Lato';
    color: #868686;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 22px;
    margin-bottom: 2em;
}

.series{
    display: block; 
    margin-top: 2em;
    font-family: 'Lato';
    color: #6202ee;
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;

}
.series > h2{
    display: inline;
}

.pageNavigation{
    display: flex;
    justify-content: space-between;
}
.pageNavButton{
    text-decoration: none;
    font-family: Roboto;
    font-size: 16px;
    border-radius: 16px;
    padding: 0.75em 0.2em;
    color: #6202ee;
    border: 4px solid #6202ee;
    transition : 0.3s ease;
}
.pageNavButton:hover{
    background: #6202ee;
    color: white;
    
}

@media screen and (max-width: 768px) {
    .blogPost{
        margin: 0em 3em;
    }
    .shareBar{
        position: hidden;
    }
}
