@import '_fonts.scss';

.content, .blogPost{
    max-width: 700px;
    margin: auto;
}
.content{
    margin-bottom: 5em;
   @extend %body;
    
    h2, h3,h4{
        @extend %title;
    }
    h2{
        font-size: 32px;

    }
    h3{
        font-size: 24px;
        font-weight: 550;
    }
    h4{
        font-size: 22px;
        font-weight: 900;

    }
}


.title{
    display: block;
    padding: 0em;
    margin: 0.5em 0em;
    @extend %heading;
}
.date{
    display: block;
    margin-bottom: 2em;

    @extend %subheading;
    color: $light-grey;
    font-size: 22px;
}

.series{
    display: block; 
    margin-top: 8em;
    @extend %subheading;
    color: $purple;
    h2{
        display: inline;
    }
}
.pageNavigation{
    display: flex;
    justify-content: space-between;
}
.pageNavButton{
    @extend %subheading;
    color: $purple;
    text-transform: none;
    border-radius: 16px;
    padding: 0.75em 0.2em;
    border: 4px solid $purple;
    transition : 0.3s ease;

    max-width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.pageNavButton:hover{
    background: $purple;
    color: white;
    
}

@media screen and (max-width: 768px) {
    .blogPost{
        margin: 0em 3em;
    }
    .series{
        margin-top: 8em;
    }
    .pageNavButton{
        max-width: 35%;
    }

}
