html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;

}

body{    
    background: #F0E0FF;
}
.main-content{
    background: #F9FAFC;
    padding: 20px;
    box-sizing: border-box;
    width: 900px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius:8px;
    
}

h1{
    font-family: 'Open Sans', sans-serif;
    color: #3F0130;

}

h3{
    font-family: 'Roboto Slab', serif;
    color: #114B5F;
}
.nav-header{    
    padding: 1.5em;
    box-sizing: border-box;
    background: #3F0130;
    color: white;
    border-radius:8px;
    margin: auto;

}
.nav-button{
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    color: #C9C9C9;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: center;
    transition: 0.2s;
    border-bottom: 4px transparent white;

}
.nav-button:hover{
    color: white;
}
.nav-button:active{
    color: black;
}

