@import "_fonts.scss";

footer {
  background-color: #3c3744;
  display: block;
  padding: 1em;
  text-align: center;
}

.copyrightText {
  color: #fff;
  @extend %body;
  margin-top: 1em;
}

.socialButton {
  max-width: 3.5em;
}

@media screen and (max-width: 400px) {
  .socialButton {
    max-width: 3em;
  }
}
