footer{
    display: block;
    padding: 2em;
    background-color: #3C3744;
    justify-content: center; 
    align-items: center;
    text-align: center;
}
.copyrightText{
    margin-top: 2.5em;
    color: white;
    font-size: 18px;
}