@import '_fonts.scss';

footer{
    display: block;
    padding: 1em;
    background-color: #3C3744;
    text-align: center;
}
.copyrightText{
    margin-top: 1em;
    @extend %body;
    color: white;

}

.socialButton{
    max-width: 3.5em;
}

@media screen and (max-width: 400px) {
    .socialButton{
        max-width: 3em;
    }
}