.linkButton{
    display: inline-block;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 14px;
    text-decoration: none;
    color:  #C42D3C;
    text-align: center;
    text-transform: uppercase;

    padding: 0.75em;
    margin : 0.5em;
    border-radius: 6px;
}

.linkButton:hover{
    color: #9B232F;
    text-shadow: 4px;
}