.linkButton{
    display: inline-block;
    font-family: 'Roboto';
    font-size: 14px;
    text-decoration: none;
    color: darkred;
    text-align: center;
    text-transform: uppercase;
    /* border styling */
    border-width: 4px;
    padding: 0.75em 1em;
    border-radius: 3em;
    margin : 0.5em;
}

.linkButton:hover, .linkButton:active{
    background-color: #636aff;
    color: white;
}
