@import '_fonts.scss';

.linkButton{
    display: inline-block;
    @extend %subheading;
    color:  $red;

    padding: 0.75em;
    margin : 0.5em;
    border-radius: 6px;
}

.linkButton:hover{
    color: $dark-red;
    text-shadow: 4px;
}