@import "_fonts.scss";

.linkButton {
  border-radius: 6px;
  @extend %subheading;
  color: $red;

  display: inline-block;
  margin: 0.5em;
  overflow: auto;
  padding: 0.75em;
  transform: translate3d(0, 0, 0);
}

.linkButton:hover {
  color: $dark-red;
  text-shadow: 4px;
}
