html, body {
    margin: 0;
    padding: 0;
}

body{    
    background: #D2EDE3;
}
.main-content{
    background: #FCF8EC;
    padding: 20px;
    box-sizing: border-box;
    width: 600px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius:8px;
    
}
.about-me, .project-description {
    font-family: 'Raleway', sans-serif;
    

}
.education-heading, .project-heading{
    font-family: 'Roboto Slab', serif;
    color: #114B5F;


}
.section-heading{
    font-family: 'Open Sans', sans-serif;
    color: #1A936F;

}
.hero-image{
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    padding-top: 400px;
    padding-bottom: 500px;
    padding-left: 20px;
    padding-right: 20px;

    background-image: url(../assets/hero-image/queens.JPG);

    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    font-family: 'Monoton', cursive;

}
.resume-links{
    display: block;
    padding: 0em;
}
.linkedin-button {
    display: inline-block;
    margin-top: 0px;
    background-image: url(../assets/button-icons/linkedin.png);
    background-size:cover;
    padding: 2.5em;
    margin-left: .2em;
    margin-right: .2em;
}
.github-button {
    display: inline-block;
    background-image: url(../assets/button-icons/github.png);
    background-size:cover;
    padding: 2.5em;
    margin-left: .2em;
    margin-right: .2em;

}

.downloadCV-button{
    display: block;
    color: white;
    padding: .5em;
    text-decoration: none;
    border: 4px solid white;
    border-radius: 12px;
    width: 12em;
    margin-left: auto;
    margin-right: auto;
    
}