body{
    background: #D2EDE3;
}
.about-me, .project-description {
    font-family: 'Raleway', sans-serif;

}
.education-heading, .project-heading{
    font-family: 'Roboto Slab', serif;
    color: #114B5F;


}
.section-heading{
    font-family: 'Open Sans', sans-serif;
    color: #1A936F;

}
.main-heading{
    font-family: 'Concert One', cursive;
    font-size: 2.4em;
}
.github-button {
    display: inline-block;
    background-image: url(../assets/button-icons/github.png);
    background-size:cover;
    padding: 1.2em;
}
.linkedin-button {
    display: inline-block;
    background-image: url(../assets/button-icons/linkedin.png);
    background-size:cover;
    padding: 1.2em;
}
.downloadCV-button {
    display: inline-block;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    text-align: center;
    background: #2788B2;
    color: #F2F7F9;
    border-radius: 4px;
    text-decoration: none;
}