@import "_fonts.scss";
.navBar {
  align-items: top;
  background: #2d243b;
  display: flex;
  flex-wrap: nowrap; /* nav bar only 1 row */
  justify-content: flex-end;
  margin: 0 auto;
  padding: 1rem 2vw;
  position: fixed;
  top: 0;
  transition: 0.3s ease-in;
  width: 96vw;
  z-index: 10;
}

.hiddenNavBar {
  top: -5rem;
}

.navButton {
  color: rgba(255, 255, 255, 0.5);
  margin: 0 0.5rem;
  padding: 0.5rem 2rem;
  text-transform: none;

  @extend %subheading;
  transition: 0.2s ease;
}

.navButton:hover {
  color: rgba(255, 255, 255, 1);
  transform: scale(1.1);
}

.selectedNavButton {
  border-bottom: solid #fff 4px;
  color: rgba(255, 255, 255, 0.85);
}

@media screen and (max-width: 768px) {
  .navBar {
    justify-content: space-evenly;
  }

  .navButton {
    flex-basis: 1;
  }
}
