.navBar{
    display: flex;
    flex-wrap: nowrap; /* nav bar only 1 row */
    width : 100vw;
    justify-content: center;
    align-items: top;
    background-color: white;
}
.navButton{
    margin: 0;
    text-decoration: none;
    color: white;
    flex: 1; /* all nav buttons have same width*/
    background-color: black;
    padding: 1.2em;
    text-align: center;
    transition:0.2s;
}

.navButton:hover{
    background-color: rgb(66, 66, 66);
}

.selectedNavButton{
    border-bottom: solid white 4px;
}