.navBar{
    display: flex;
    flex-wrap: nowrap; /* nav bar only 1 row */
    margin: 0em auto;
    width : 100vw;
    justify-content: flex-end;
    align-items: top;
    background: #2D243B;
    padding: 1.0em 0em;
}
.navButton{
    margin: 0em 0.5em;
    text-decoration: none;
    font-family: "Open Sans",arial,sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: rgba(255,255,255,0.5);
    padding: 0.5em 2em;
    text-align: center;
    transition:0.2s ease;

}

.navButton:hover{
    transform: scale(1.1);
    color: rgba(255,255,255,1);
}

.selectedNavButton{
    color: rgba(255,255,255,0.85);
    border-bottom: solid white 4px;
}



@media screen and (max-width: 768px) {
    .navBar{
        justify-content: space-evenly;

    }
    .navButton{
        flex-basis: 1;
    }
}
