.shareBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-between;
    width : 100%;
    margin: 2em 0em;
    flex-wrap: wrap;
}

.icon{
    margin:0.5em;
}