
.socialButton{
    display: inline-block;
    margin: 0.25em 0.5em 0.25em 0.5em;
    transition: 0.3s ease;
    border-radius: 50%;
    width: 5em;
    transition: 0.2;
    background-color: black;
    fill: white;
    padding: 0.25em;
    padding-bottom: 0em;
}

.socialButton:hover{
    transform: scale(1.1);
    filter: brightness(120%);
}
.socialButton:active{
    transform: scale(0.9);
}

.linkedIn{
    fill: #0077B5;
    background-color: white;
}

.github{
    background-color: #6e5494;
    fill: white;
}

.rss{
    fill : #ee802f;
    background-color: white;
}

.youtube{
    background-color: red;
    fill: white;
}

.facebook{
    background-color: white;
    fill: #4267b2; 
}

.twitter{
    background-color: white;
    fill: #38A1F3; 
}