.socialButton {
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  fill: #fff;
  margin: 0.25em 1.5em 0.25em 1.5em;
  padding: 0.25em;
  padding-bottom: 0;
  transition: 0.3s ease;
  transition: 0.2;
  width: 5em;
}

.socialButton:hover {
  filter: brightness(120%);
  transform: scale(1.1);
}

.socialButton:active {
  transform: scale(0.9);
}

.linkedIn {
  background-color: #fff;
  fill: #0077b5;
}

.github {
  background-color: #6e5494;
  fill: #fff;
}

.rss {
  background-color: #fff;
  fill: #ee802f;
}

.youtube {
  background-color: #f00;
  fill: #fff;
}

.facebook {
  background-color: #fff;
  fill: #4267b2;
}

.twitter {
  background-color: #fff;
  fill: #38a1f3;
}

.share {
  background-color: #fff;
  fill: #3d8dff;
  transition: ease-in-out cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cancel {
  background-color: #fff;
  fill: #3d8dff;
  transition: ease-in-out cubic-bezier(0.075, 0.82, 0.165, 1);
}

.share:active,
.cancel:active {
  transform: rotate(360deg);
}
