.wrapper {
  position: relative;
}

.transitionImage {
  height: 50vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
