@import "_fonts.scss";

.tweetCard {
  text-align: center;
}

.mainContent {
  margin: 0 0 2em 0.5em;
  @extend %body;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 0em auto 1em auto;
  padding: 1em 3em;
  transition: 0.3s;
  display: inline-block;
}

@media screen and (max-width: 400px) {
  .mainContent {
    margin: 0;
    padding: 0;
  }

  .headings {
    margin: 0 0 0.5em 1em;
    padding: 0;
  }

  .description {
    margin: 0.5em 0 0 0.5em;
  }
}
