@import "_fonts.scss";

.twitterCard {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 0em auto 1em auto;
  max-width: 768px;
  padding: 1em 2em;
  transition: 0.3s;
}

.mainContent {
  margin: 0 0 2em 0.5em;
  @extend %body;
}

.followButtonWrapper {
  margin: 2em 0em;
  transition: 0.3s;
  transform-origin: left center;
}
.followButtonWrapper:hover {
  transform: scale(1.1);
  filter: 150%;
}
.followButtonWrapper:active {
  transform: scale(0.95);
}
.followButton {
  background-color: #38a1f3;
  text-decoration: none;
  color: #e0ebf3;
  padding: 0.5em 1em;
  margin-top: 1em;
  border-radius: 8px;
  font-weight: 900;
  transition: 0.3s;
}
.followButton:hover {
  color: #ffffff;
  filter: 150%;
}
.metaData {
  margin: 0.5em;
  padding: 1em;
  .date {
    color: $dark-blue;
    margin-top: 0;
    padding-top: 0;
    @extend %subheading;
    position: top;
  }

  .img {
    display: object-fit;
    max-width: 5em;
    width: 100%;
  }
}
.title {
  @extend %title;
}

.description {
  @extend %body;
}

@media screen and (max-width: 400px) {
  .metaData {
    margin: 0;
    padding: 0;
  }

  .mainContent {
    margin: 0;
    padding: 0;
  }

  .headings {
    margin: 0 0 0.5em 1em;
    padding: 0;
  }

  .description {
    margin: 0.5em 0 0 0.5em;
  }
}
