.whoAmI{
    padding: 5em;
    display: block;
    margin: auto;
    max-width: 80%;
}
.whoAmI > h1{
    display: inline-block;
    padding: 1em 0em;
    margin-top: 0;
    margin-bottom: 1em;
    font-family: "Lato",arial,sans-serif;
    font-size: 48px;
    font-weight: 300;
    width:65%;
}
.profilePic{
    display: block;
    max-width: 30%;
    max-height: 30%;
    border-radius: 50%;
    float:right ;
    margin: 1em;
}
.description{
    font-family: 'Open Sans';
    margin: 1em;
    display: inline;
}
