@import '_fonts.scss';
.whoAmI{
    padding: 5em;
    display: block;
    margin: auto;
    max-width: 80%;
}
.whoAmI > h1{
    display: inline-block;
    padding: 1em 0em;
    margin-top: 0;
    margin-bottom: 1em;
    @extend %heading;
    width:65%;
}
.profilePic{
    display: block;
    max-width: 300px;
    max-height: 30%;
    border-radius: 50%;
    float:right ;
    margin: 1em;
}
.description{
    @extend %body;
    margin: 1em;
    display: inline;
}

@media screen and (max-width: 500px) {
    .profilePic{
        float: none;
        max-width: 100%;
        margin-left: 0;
    }
}
