@import "_fonts.scss";
.whoAmI {
  display: block;
  margin: auto;
  max-width: 80%;
  padding: 5em;
  h1 {
    display: block;
    margin-top: 0;
    @extend %heading;
  }
}

.profilePic {
  width: 100rem;
}

.description {
  @extend %body;
  display: block;
}

.flexLayout {
  display: flex;
  flex-direction: row-reverse;
}

.img {
  border-radius: 50%;
}

@media screen and (max-width: 500px) {
  .flexLayout {
    display: block;
  }
  .profilePic {
    margin-left: 0;
    width: 100%;
  }
}
