
/* 
 *
 *Main Content style
 *
 */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;

}

body{    
    background: #F9FAFC;
}
main{
    background: #FFFFFF;
    padding: 20px;
    box-sizing: border-box;
    width: 900px;
    max-width: 90%;
    margin: 0em auto;
    border-radius:8px;
    
}

h1{
    font-family: 'Open Sans', sans-serif;
    color: #0065A0;
    clear: right;

}

h2{
    font-family: 'Roboto Slab', serif;
    color: #163784;
    clear: right;

}

/* 
 *
 *Header and nav buttons
 *
 */

header{    
    padding: 1.5em;
    box-sizing: border-box;
    background: #0A193C;
    color: white;
    border-radius:8px;
    margin: auto;

}
.nav-button{
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    color: #C9C9C9;
    padding: .5em 2.5em;
    text-align: center;
    transition: 0.2s;
    border-bottom: 4px transparent white;

}
.nav-button:hover{
    color: white;
}
.nav-button:active{
    color: black;
}


/* 
 *
 *Footer and buttons
 *
 */
footer{    
    box-sizing: border-box;
    background: #0A193C;
    color: white;
    border-radius:8px;
    margin: auto;
    text-align: center;


}


.footer-buttons{
    width: 200px;
    max-width: 40%;
    margin: 0em auto;
}
.linkedin-button {
    display: inline-block;
    margin: 0.2em 0.2em 0.2em 2em;
    transition: 0.2s;
    border-radius: 8px;
    width:0.5em;

}
.linkedin-button:hover{
    filter: brightness(125%);
}
.linkedin-button:active{
    transform: scale(0.9);

}

.github-button {
    display: inline-block;
    margin: auto;
    border-radius: 1.8em;
    background-color: rgba(255, 255, 255, 0.75);
    transition: 0.2s;
    

}
.github-button:hover{
    background-color: rgba(255,255,255,1);
}
.github-button:active{
    transform: scale(0.9);
}
.rss-button{
    display: inline-block;
    margin: auto;
    transition: 0.2s;

}
.rss-button:hover{
    filter: brightness(125%);
}
.rss-button:active{
    transform: scale(0.9);

}


/*Links to prev/next blog posts*/
.prev-blog-post, .next-blog-post{
    display: inline-block;
    font-size: 1.1em;
    text-decoration: none;

}
.prev-blog-post{
    float:left;
}
.next-blog-post{
    float:right;
}
/* For images - wrap around text*/
img{
    float:right;
    max-width: 100%;
}

.post-excerpt{
    display: inline-block;
    margin: 0.5em 3.5em;
}
/* For main image*/
figure{
    display: inline-block;
}
.main-image{
    display: block;
    float: none;
    margin:auto;
    max-width: 100%
}
figure figcaption {
    text-align: center;
}