<!DOCTYPE html>
<html lang="en-GB">
    <head>
        {% include analytics.html %}
        {% feed_meta %}
        <!--CSS Link-->
        <link rel="stylesheet" href="/css/blogpost.css"/>

        <!--Google Fonts for the text on the page-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet"><!-- section headings-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet"> <!-- paragraph text font-->
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet"> <!-- sub-section headings-->

    </head>
    <body>
        {%include header.html%}
        <div class="main-content">
            <h1> {{ page.title }}</h1>
            {% include share-bar.html %}
                {{ content }}
        <div class="blog-posts">
            <h3>Blog Posts </h3>
                {% for post in site.posts %}
                <li>
                  <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                  <a class="post-link" href="{{ post.url | prepend: site.url}}">{{ post.title }}</a>
                  <br>
                    <p>
                        {{ post.excerpt }}
                    </p>
                </li>
                <br> <br>
              {% endfor %}
        </div>
    </div>
    {%include footer.html%}

    </body>
</html>