<!DOCTYPE html>
<html lang="en-GB">
    <head>
 
        <!--CSS Link-->
        <link rel="stylesheet" href="../css/blogpost.css"/>

        <!--Google Fonts for the text on the page-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet"><!-- section headings-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet"> <!-- paragraph text font-->
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet"> <!-- sub-section headings-->

        <!--prettify the python code-->
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>


            <!--MathJax is used for LaTeX in the blog-->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
        

    </head>
    <body>
        <div class="main-content">
            <h1> {{ page.title }}</h1>
            <p class="meta">Posted on {{  page.date | date: "%b %-d, %Y" }}
            {% if page.comments %}
            <a href="{{content.absolute_url}}#disqus_thread">Comments</a> 
            </p>
        {% endif %}

                {{ content }}

                {% include comments.html %}
                
            </div>
            
    <script id="dsq-count-scr" src="//https-mukul-rathi-github-io.disqus.com/count.js" async></script> 
    </body>
</html>